<div id="banner">
  <div class="banner_content">
    <h1>NoteNote</h1>

    <p>Your online Notebook never forget an idea again</p>

    <button><%= link_to "Sign Up" , new_user_registration_path %></button>
  </div>
</div>


<div id="testimonial">
  <div class="wrapper">
    <p class="quote">"The greatest notebook application. Period"</p>
    <p class="name">-Ismail El-Habbash</p>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">

      <div class="callout">
        <i class="fa fa-pencil"></i>
        <h2>Notes</h2>
        <p>Lstandard dummy text centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Page</p>
      </div>

      <div class="callout">
        <i class="fa fa-rocket"></i>

        <h2>Rocket</h2>
        <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look </p>
      </div>

      <div class="callout">
        <i class="fa fa-bolt"></i>

        <h2>Lightning</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydne</p>
      </div>
    </div>
  </div>
</div>


<div id="bottom_cta">
  <div class="wrapper">
    <h2>For Realz</h2>
    <p>I want you to sign up... If you don't , I will find you!</p>
    <button><%= link_to "click me" , new_user_registration_path %></button>
  </div>
</div>

<footer>
  <p>&copy Ismail EL Habbash</p>
</footer>